{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Landing Page</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav-logo">{{info.name}}</a>
            </div>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
                    <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} alert"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Dark mode switch -->
            <div class="dark-mode-switch">
                <input type="checkbox" id="dark-mode-toggle">
                <label for="dark-mode-toggle">
                    <i class='bx bx-sun'></i>
                    <i class='bx bx-moon'></i>
                </label>
            </div>
            
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <section class="home" id="home">
            <div class="home-container bd-grid">
                <h1 class="home-title"><span>HE</span><br>LLO</h1>

                <div class="home-scroll">
                    <a href="#about" class="home-scroll-link"><i class='bx bx-up-arrow-alt' ></i>SCROLL DOWN</a>
                </div>
                {% if info.image %}
                <img src="{% static "img/processed_zezooo.jpg" %}" alt="{{info.name}}" class="home-img">
                {% else %}

                {% endif %}
            </div>
        </section>
    

        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about-container bd-grid">
                <div class="about-img">
                    {% if info.image %}
                    {% comment %} <img src="{{info.image.url}}" alt="{{info.name}} image"> {% endcomment %}
                    <img src="{% static "img/processed_zezooo.jpg" %}" alt="{{info.name}} image">

                    {% else %}

                    {% endif %}
                </div>

                <div>
                    <h2 class="about-subtitle">I'm {{info.name}}</h2>
                    <span class="about-profession">{{info.job}}</span>
                    <p class="about-text">{{info.description}}</p>

                    <div class="about-social">
                        <a href="{{info.linkedin}} "class="about-social-icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="{{info.github}} "class="about-social-icon" target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="{{info.facebook}}" class="about-social-icon" target="_blank"><i class='bx bxl-facebook'></i></a>
                    </div>
                </div>   
            </div>
        </section>

        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills-container bd-grid">
                <div class="skills-box">
                    <h3 class="skils-subtitle">FrontEnd</h3>

                    <span class="skills-name">HTML</span>
                    <span class="skills-name">CSS</span>
                    <span class="skills-name">JAVASCRIPT</span>

                    <h3 class="skils-subtitle">BackEnd</h3>
                    {% if skills %}
                    <ul>
                        {% for skill in skills %}
                            <span class="skills-name">{{ skill }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="skills-name">No skills available</span>
                    {% endif %}
                </div>

                <div class="skills-img">
                    <img src="https://i.postimg.cc/fL7Z1bFw/skill.jpg" alt="skills image">
                </div>
            </div>
        </section>

        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfolio</h2>

            <div class="portfolio-container bd-grid">
                {% if portfolios %}
                {% for port in portfolios %}
                <div class="portfolio-img">
                    <img src=" {{port.image.url}} " alt="{{port.title}}">
                    <div class="portfolio-link">
                        <a href=" {{port.link|default:"#"}} " class="portfolio-link-name">View Details <p>{{port.description|default:""}}</p></a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="portfolio-img">
                    <img src="https://i.postimg.cc/3x2J6Y0K/portfolio.jpg" alt="portfolio image">
                    <div class="portfolio-link">
                        <a href="#" class="portfolio-link-name">No Portfolio Available</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>

        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact-container bd-grid">
                <div class="contact-info">
                    <h3 class="contact-subtitle">EMAIL</h3>
                    <span class="contact-text">{{info.email}}</span>

                    <h3 class="contact-subtitle">PHONE</h3>
                    <span class="contact-text">{{info.phone_number}}</span>

                    <h3 class="contact-subtitle">ADDRESS</h3>
                    <span class="contact-text">Egypt</span>
                </div>

                <form action="" class="contact-form" method="POST">
                    {% csrf_token %}
                    <div class="contact-inputs">
                        <input type="text" placeholder="Name" class="contact-input" name="name" required>
                        <input type="email" placeholder="Email" class="contact-input" name="email">
                        <input type="text" placeholder="Phone" class="contact-input" name="phone_number" required>
                        <input type="text" placeholder="Another Phone" class="contact-input" name="another_phone">
                    </div>

                    <textarea name="description" cols="0" rows="10" class="contact-input" ></textarea>
                    {% comment %} <input  type="text" placeholder="description" class="contact-input" name=""> {% endcomment %}
                    <input type="submit" value="Send" class="contact-button">
                </form>
            </div>
        </section>

    </main>

    <footer class="footer section">
        <div class="footer-container bd-grid">
            <div class="footer-data">
                <h2 class="footer-title">{{info.name}}</h2>
                <p class="footer-text">I'm {{info.name}} and this is my personal website</p>
            </div>
            <div class="footer-data">
                <h2 class="footer-title">Ziad Ali</h2>
                <ul>
                    <li><a href="#home" class="footer-link">Home</a></li>
                    <li><a href="#about" class="footer-link">About</a></li>
                    <li><a href="#skills" class="footer-link">Skills</a></li>
                    <li><a href="#portfolio" class="footer-link">Portfolio</a></li>
                    <li><a href="#contact" class="footer-link">Contact</a></li>
                </ul>
            </div>

            <div class="footer-data">
                <h2 class="footer-title">FOLLOW</h2>

                {% comment %} <a href="#" class="footer-social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer-social"><i class='bx bxl-twitter'></i></a> {% endcomment %}
                <a href="{{info.facebook}}" class="footer-social"><i class='bx bxl-facebook'></i></a>
                <a href="{{info.linkedin}}" class="footer-social"><i class='bx bxl-linkedin'></i></a>
                <a href="{{info.github}} "class="about-social-icon" target="_blank"><i class='bx bxl-github'></i></a>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>